*{
  padding: 0%;

}

.navbar{
  display: flex;
  padding: 5px;
  margin: 5px;
  justify-content: space-around;
  background-color: green;
}
.navbar :link{
  text-decoration: none;
}

.Home{
  background-color: green;
}